[submodule "gw2DatTools"]
    path = extern/gw2DatTools
    url = https://github.com/kytulendu/gw2DatTools.git
[submodule "gw2formats"]
    path = extern/gw2formats
    url = https://github.com/kytulendu/gw2formats.git
