[submodule "gw2dattools"]
    path = extern/gw2dattools
    url = https://github.com/kytulendu/gw2dattools.git
[submodule "gw2formats"]
    path = extern/gw2formats
    url = https://github.com/kytulendu/gw2formats.git
