bin
ipch
obj
objs
tmp
CMakeFiles
Debug_x86
Debug_x64
Release_x86
Release_x64
doxygen
extern/glew/lib
*.bak
*.sdf
*.suo
*.user
*.opensdf
*.diagsession
*.o
*.a
*.exe
*.pc
*.depend
*.layout
CMakeCache.txt
cmake_install.cmake
