[submodule "gw2DatTools"]
    path = extern/gw2DatTools
    url = https://github.com/kytulendu/gw2DatTools.git
[submodule "libbar"]
    path = include/bar
    url = https://github.com/kytulendu/gw2formats.git
