# Binaries
bin
obj
objs
tmp
extern/freetype/build
extern/glew/lib
extern/libogg/build
extern/libvorbis/build
extern/libwebp/build
extern/tinyxml2/build
*.o
*.a
*.exe

# CodeBlocks
*.depend
*.layout

# Visual Studio
.vs
ipch
Debug
Debug_x86
Debug_x64
Release
Release_x86
Release_x64
*.aps
*.sdf
*.suo
*.user
*.opensdf
*.db
*.opendb
*.diagsession
*.psess
*.vsps
*.vspx

# Cmake
CMakeFiles
CMakeCache.txt
*.cmake

# File manager
.directory

# Misc
doxygen
*.bak
*.pc
