bin
ipch
obj
objs
tmp
CMakeFiles
Debug_x86
Debug_x64
Release_x86
Release_x64
doxygen
extern/glew/lib
extern/libogg/win32/VS2015/Win32
extern/libogg/win32/VS2015/x64
extern/libvorbis/win32/VS2015/Win32
extern/libvorbis/win32/VS2015/x64
extern/libvorbis/win32/VS2015/libvorbis/Win32
extern/libvorbis/win32/VS2015/libvorbis/x64
extern/libvorbis/win32/VS2015/libvorbisfile/Win32
extern/libvorbis/win32/VS2015/libvorbisfile/x64
*.aps
*.bak
*.sdf
*.suo
*.user
*.opensdf
*.diagsession
*.o
*.a
*.exe
*.pc
*.depend
*.layout
*.db
*.opendb
CMakeCache.txt
cmake_install.cmake
